@charset "UTF-8";

@font-face {
	font-family: "cm";
	src:url('../fonts/cm/cm.woff') format('woff'),
		url('../fonts/cm/cm.ttf') format('truetype'),
		url('../fonts/cm/cm.svg#cm') format('svg');
}

[class^='ico-']:before {
	font-family: "cm"!important;
	font-style: normal!important;
	font-weight: normal!important;
}

.ico-mail:before		{ content: '\5f5'; }
.ico-water:before		{ content: '\5f6'; }
.ico-electricity:before	{ content: '\5f7'; }
.ico-wifi:before		{ content: '\5f8'; }
/* .ico-fav:before			{ content: '\5f9'; } */
.ico-search:before		{ content: '\5fa'; }
.ico-close:before		{ content: '\5fb'; }
.ico-lang:before		{ content: '\5fc'; }
.ico-ok:before			{ content: '\5fd'; }
.ico-err:before			{ content: '\5fe'; }
.ico-copy:before		{ content: '\5ff'; }
.ico-d-arr-up:before	{ content: '\600'; }
.ico-d-arr-right:before	{ content: '\601'; }
.ico-arr-up:before		{ content: '\602'; }
.ico-arr-down:before	{ content: '\603'; }
.ico-arr-left:before	{ content: '\604'; }
.ico-arr-right:before	{ content: '\605'; }
.ico-sign-in:before		{ content: '\608'; }
.ico-user:before		{ content: '\60B'; }

