@font-face{font-family:Vida;src:url('../fonts/vida31pro.woff') format('woff');font-style:normal;font-weight:400;}
@font-face{font-family:Vida;src:url('../fonts/vida33pro.woff') format('woff');font-style:normal;font-weight:500;}
@font-face{font-family:Vida;src:url('../fonts/vida33pro-bold.woff') format('woff');font-style:normal;font-weight:700;}

body,html{margin:0;padding:0;width:100%;height:auto;font-family:Vida;font-weight:400;font-size:100%;background:#fff;color:#010101;}
*{box-sizing:border-box;}
div{display:flex;}
a{text-decoration:none;}

.container{width:100%;max-width:1170px;padding:0 15px;margin:0 auto;}
.top-line{font-weight:400;color:#fff;height:52px;background:#ff3399;justify-content:center;align-items:center;}
.top-line .icon{width:35px;height:35px;align-items:center;justify-content:center;margin:0 15px 0 0;border-radius:100%;background:rgba(255,255,255,.3);}
.top-line img{max-width:100%;height:auto;}
.logo{width:100%;max-width:162px;}
.logo img{width:100%;height:auto;}
.header .container{height:140px;align-items:center;justify-content:space-between;}
.langs a{display:flex;width:34px;min-width:34px;border-radius:5px;box-shadow:0 0 4px rgba(0,0,0,.27);overflow:hidden;margin:0 7px;transition:.25s;}
.langs img{max-width:100%;height:auto;}
.langs a:hover{opacity:.8;}
.top-contact{padding:0 7px;align-items:center;}
.top-contact .icon img{max-height:24px;width:auto;}
.top-contact .text{flex-direction:column;padding:0 0 0 25px;}
.top-contact p{margin:0;}
.top-loc p{color:#009edf;font-weight:700;text-transform:uppercase;font-size:14px;}
.top-loc span{font-size:14px;display:block;padding:3px 0 0 0;line-height:1.3;}
.top-phone p{font-size:14px;}
.top-phone .phone{font-size:24px;color:#010101;font-weight:500;transition:.25s;}
.top-phone .phone:hover{opacity:.8;}
.phone span{color:#009edf;font-weight:700;}
.button{display:flex;height:50px;padding:0 30px;align-items:center;justify-content:center;text-align:center;color:#fff;border-radius:10px;transition:.25s;}
.button.blue{background:#009edf;}
.button.pink{background:#ff3399;}
.button:hover{opacity:.8;}
.btn-menu{display:flex;align-items:center;justify-content:center;border-radius:5px;width:64px;min-width:64px;height:50px;background-color:#ff3399;cursor:pointer;position:relative;top:0px;right:0px;z-index:9999}
.btn-menu .bar,.btn-menu .bar:before,.btn-menu .bar:after{display:block;position:relative;width:26px;height:3px;background-color:#fff;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;border-radius:2px;}
.btn-menu .bar{top:0;left:0}
.btn-menu .bar:before{position:absolute;content:'';top:7px;left:0}
.btn-menu .bar:after{position:absolute;content:'';top:-7px;left:0}
.show .btn-menu .bar{background-color:transparent}
.show .btn-menu .bar:before{top:0;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.show .btn-menu .bar:after{top:0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.banner{background:#05040b;color:#fff;padding:80px 0;}
h1{font-size:67px;font-weight:500;text-transform:uppercase;margin:0;padding:0;}
h1 span{font-size:48px;display:block;width:100%;font-weight:400;}
.banner .left{flex-direction:column;width:100%;max-width:615px;}
.banner .left .block{flex-direction:column;margin:50px auto 0 0;border:2px solid #fff;padding:30px 20px;display:inline-flex;width:auto;}
.banner .left .block span{font-size:21px;font-weight:500;}
.banner .left .block p{font-size:36px;font-weight:500;margin:0;padding:5px 0 0 0;}



