@font-face{font-family:Alkes;font-weight:400;font-style:normal;src:url(../fonts/Alkes-Regular.woff)}
@font-face{font-family:Alkes;font-weight:700;font-style:normal;src:url(../fonts/Alkes-Bold.woff)}
@font-face{font-family:Alkes;font-weight:700;font-style:italic;src:url(../fonts/Alkes-BoldItalic.woff)}
body,html{margin:0;padding:0;width:100%;height:auto;font-family:Alkes;color:#1b1b1b;font-size:16px;font-weight:400}
a{text-decoration:none;color:#ffa400;transition:.25s}
*{box-sizing:border-box}
div{display:flex}
.container{width:100%;flex-direction:column;max-width:1380px;padding:0 20px;margin:0 auto}
.bg-video{position:relative;overflow:hidden;width:100%;height:100vh;background:rgba(0,0,0,1);flex-direction:column;justify-content:center;color:#fff}
.bg-video video{position:absolute;top:0;left:0;min-width:100%;min-height:100vh;z-index:1}
.overlay{width:100%;height:100vh;position:absolute;top:0;left:0;background:rgba(0,0,0,.8);z-index:2}
.bg-video .container{position:relative;z-index:8;justify-content:center;align-items:center;padding-bottom:100px}
.logo{width:100%;max-width:248px;align-items:center;justify-content:center}
.logo img{width:100%;height:auto}
h1{font-size:50px;color:#ffa400;margin:0;padding:0;font-weight:700;display:flex;flex-direction:column;width:100%;justify-content:center;text-align:center;line-height:1.2;padding:120px 0}
h1 span{color:#fff}
.button{display:inline-flex;width:auto;height:68px;border-radius:10px;text-transform:uppercase;font-size:23px;background:#ffa400;color:#1b1b1b;box-shadow:0 0 16px rgba(255,255,255,.9);padding:0 45px;align-items:center;justify-content:center;text-align:center;position:relative;overflow:hidden;font-weight:700}
.button:after{content:"";display:block;width:25px;height:300px;margin-left:60px;background:rgba(255,255,255,.9);position:absolute;left:-40px;top:-150px;z-index:1;transform:rotate(30deg);transition:.1s;animation-name:slideme;animation-duration:3s;animation-delay:50ms;animation-timing-function:ease-in-out;animation-iteration-count:infinite}
.button span{position:relative;z-index:2}
h2.section-title{font-size:40px;color:#ffa400;font-style:italic;font-weight:700;width:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;margin:0;padding:0}
h2.section-title span{color:#1b1b1b;font-style:normal}
section{padding:70px 0}
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:after,.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-dots{position:absolute;bottom:0;left:0;width:100%;margin:0;padding:0;display:flex;list-style:none;justify-content:center;align-items:center}
.slick-dots li{margin:0 8px;display:flex}
.slick-dots button{font-size:0;color:transparent;padding:0;border:2px solid #ffa400;background:#fff;width:24px;height:24px;min-width:24px;border-radius:100%;transition:.25s;cursor:pointer}
.slick-dots .slick-active button{background:#ffa400}
.reviews-slider{width:100%;margin:50px 0 0 0}
.reviews-slider .item{width:100%;max-width:1280px;position:relative;margin:0 auto;display:flex!important;padding-bottom:65px;background:#fff}
.reviews-slider .item:after,.reviews-slider .item:before{border-radius:25px;z-index:1;position:absolute;content:"";bottom:80px;left:30px;width:50%;top:80%;max-width:calc(50% - 20px);background:rgba(0,0,0,.3);box-shadow:0 25px 30px rgba(0,0,0,.3);transform:rotate(-3deg)}
.reviews-slider .item:after{transform:rotate(3deg);right:30px;left:auto}
.reviews-slider video{position:relative;z-index:3;border:0;border-radius:25px;display:flex;background:#fff}
.reviews-slider video::-webkit-media-controls{display:none}
.play-pause{position:absolute;top:0;left:0;z-index:9;width:100%;height:100%;cursor:pointer}
.play-pause.play{background:url(../img/play.png) 50% calc(50% - 32.5px) no-repeat;background-size:131px;}
.slick-next,.slick-prev{width:120px;height:120px;border-radius:100%;border:0;background:#fff;box-shadow:0 13px 40px rgba(0,0,0,.26);position:absolute;top:50%;transform:translateY(calc(-50% - 35px));padding:0;display:flex;align-items:center;justify-content:center;cursor:pointer;transition:.25s}
.slick-next svg,.slick-prev svg{position:relative;right:5px;fill:#ffa400;transition:.25s}
.slick-prev{left:-150px}
.slick-next{right:-150px}
.slick-next svg{transform:rotate(-180deg);right:inherit;left:5px}
.slick-next:hover,.slick-prev:hover{background:#ffa400}
.slick-next:hover svg,.slick-prev:hover svg{fill:#fff}
.advantages{background:#e8e8e8}
.advantages .item{width:100%;flex-direction:column;justify-content:center;align-items:center;text-align:center}
.advantages .item:not(:last-child){margin:0 0 25px 0}
.advantages .icon{justify-content:center;align-items:center;margin:0 0 20px 0}
.advantages .text{display:block;width:100%;max-width:1120px;margin:0 auto}
.advantages p{margin:0;font-size:25px}
footer{background:#1b1b1b;padding:70px 0}
footer .container{justify-content:center;align-items:center}
.tarifs .wrap{flex-wrap:wrap;width:calc(100% + 60px);margin:50px -30px 0 -30px}
.tarifs .item{width:33.33%;padding:0 30px;flex-direction:column}
.tarifs .inner{width:100%;flex-direction:column;border-radius:25px;box-shadow:0 13px 40px rgba(0,0,0,.26);overflow:hidden;height:100%}
.tarifs img{height:256px;width:100%;object-fit:cover}
.tarifs .text{width:100%;flex-direction:column;height:100%;justify-content:space-between;height:calc(100% - 256px);padding:20px 40px 40px 40px;align-items:center;text-align:center}
.tarifs .button{width:100%;max-width:240px;padding:0 20px;margin:0 auto}
.tarifs .title{font-size:25px;color:#ffa400;font-weight:700}
.tarifs .prices{flex-direction:column;justify-content:center;align-items:center;text-align:center}
.tarifs .prices p{margin:0;font-size:25px;font-weight:700}
.tarifs .desc{font-size:21px;padding:15px 0 30px 0;line-height:1.2}
.tarifs .more{display:inline-flex;width:auto;margin:30px auto 0 auto;position:relative;font-size:25px;font-weight:700;color:#ffa400;flex-direction:column;transition:.25s;cursor:pointer}
.tarifs .more:after{content:'';width:100%;border-top:2px dashed #ffa400;margin-top:4px}
.tarifs .more:hover{color:#1b1b1b}
.button:hover{background:#1b1b1b;color:#fff}
.modals{position:fixed;z-index:99}
.modal{width:95%;display:none;max-width:800px;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:999;background:#fff;box-shadow:0 18px 40px rgba(0,0,0,.6);height:auto;max-height:calc(100vh - 60px);overflow-y:auto;border-radius:25px}
.modal .title{font-size:32px;font-weight:700;justify-content:center;line-height:1;padding:0 20px 20px 20px;font-weight:500;text-align:center}
.modal .text{flex-direction:column;font-size:18px}
.modal-close{position:absolute;right:1px;top:1px;width:55px;height:55px;cursor:pointer;background:rgba(255,255,255,.5);z-index:88;display:flex;align-items:center;justify-content:center}
.modal-close svg{fill:#292929;transition:.4s}
.modal-close:hover svg{fill:#8f2519}
.modal-content{width:100%;flex-direction:column;padding:35px}
.modal-overlay{display:none;width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,.26);z-index:9}
.faq{background:#f6f6f6;padding-bottom:150px}
.faq-title{font-size:35px;font-weight:700;justify-content:center;text-align:center;padding:0 0 20px 0}
.faq-wrap{width:100%;flex-direction:column}
.faq .item{width:100%;flex-direction:column;background:#e8e8e8;border-radius:10px;font-size:25px}
.faq .item:not(:last-child){margin-bottom:12px}
.faq .item .title{padding:30px 20px;font-weight:700;text-align:center;justify-content:center;cursor:pointer}
.faq .item .desc{padding:0 20px 30px 20px;text-align:center;justify-content:center;display:block;display:none}
.faq .title span{display:flex}
.faq .title span:before{content:'+';transition:.25s;margin-right:5px;width:15px;min-width:15px;text-align:center;display:block}
.faq .active .title span:before{content:'-'}
.text-content{padding-bottom:90px}
.text-content p{font-size:25px;text-align:center;line-height:1.3;margin:0;padding:40px 0}
.text-content .button{width:auto;margin:20px auto 0 auto}
.reviews-slider video{width:100%}
@-webkit-keyframes slideme{
0%{left:-30px;margin-left:0}
30%{left:110%;margin-left:80px}
100%{left:110%;margin-left:80px}
}
@media screen and (max-width:1650px){
.slick-next,.slick-prev{z-index:9}
.slick-prev{left:-30px}
.slick-next{right:-30px}
}
@media screen and (max-width:1430px){
.slick-next,.slick-prev{width:60px;height:60px}
.slick-next svg,.slick-prev svg{width:24px;height:24px;right:1px}
.slick-next svg{left:1px}
.slick-prev{left:-10px}
.slick-next{right:-10px}
.tarifs .wrap{width:calc(100% + 40px);margin:50px -20px 0 -20px}
.tarifs .item{padding:0 20px}
}
@media screen and (max-width:1150px){
.tarifs .wrap{flex-direction:column}
.tarifs .item{width:100%;max-width:800px;margin:0 auto}
.tarifs .item:not(:last-child){margin-bottom:40px}
}
@media screen and (max-width:800px){
h1{font-size:45px}
.reviews-slider .item:after,.reviews-slider .item:before{bottom:75px}
}
@media screen and (max-width:680px){
h1{font-size:40px}
.reviews-slider .item:after,.reviews-slider .item:before{bottom:74px}
h2.section-title{font-size:35px}
}
@media screen and (max-width:600px){
h1{font-size:35px;padding:80px 0}
.reviews-slider .item:after,.reviews-slider .item:before{bottom:75px;box-shadow:0 25px 25px rgb(0 0 0 / 100%)}
h2.section-title{font-size:35px}
}
@media screen and (max-width:560px){
h1{font-size:30px}
h2.section-title,.faq-title{font-size:25px}
.button{font-size:20px;height:55px;padding:0 20px;}
.reviews-slider .item{padding-bottom:45px}
.reviews-slider .item:after,.reviews-slider .item:before{bottom:65px}
.slick-next,.slick-prev{transform:translateY(calc(-50% - 20px))}
.advantages p,.tarifs .more,.faq .item,.text-content p{font-size:20px}
.advantages p br{display:none;}
.tarifs .title,.tarifs .prices p{font-size:20px;}
.tarifs .desc{font-size:18px;}
.play-pause.play {
    background: url(../img/play.png) 50% calc(50% - 22.5px) no-repeat;
    background-size: 75px;
}
}
@media screen and (max-width:500px){
    h1{padding:60px 0 80px 0;font-size:25px;}
    .bg-video .container{padding-bottom:60px;}
    .faq .item .desc br{display:none;}
.tarifs .text{padding:20px 25px 40px 25px;}
.faq{padding-bottom:70px;}
}

@media screen and (max-width:390px){
    .logo{max-width:200px;}
    h1{font-size:25px;}
    .button{font-size:18px;}
}